* {
    font-family: 'Noto Sans Devanagari', 'Noto Sans Tamil', 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;
    }
body {
    padding: 10% 10% 10% 10%; 
    margin: 0;
    background-color: #f4f4f4;
}

input[type='number'] {
    width: 40px;
}
